.calc-display {
    height: 200px;
    width: 395px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: bottom;
    flex-wrap: wrap;
    background-color: #2d2d86;
    color: #b3b3e6;
    font-size: 2.25em;
    /* padding-bottom: 5px; */
    padding: 5px 1px 50px 0px solid #2d2d86;
    text-decoration: none;
    overflow-wrap: break-word;
}