.clear-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 2.5em; */
    /* width: 2.5em; */
    /* margin: .1em; */
    font-size: 2em;
    background-color: #2d2d86;
    color: #b3b3e6;
    border: 2px solid #fde24a;
    border-radius: 50%;
}