.equal-btn {
    display: grid;
    grid-area: btn-equal;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    /* width: 3em; */
    /* margin: 5px; */
    font-size: 1.5em;
    background-color: #fde24a;
    color: #5752a7;
    border-radius: 50px;
    object-fit: fill;
}