.operator-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 2.5em; */
    /* width: 2.5em; */
    /* margin: .1em; */
    font-size: 2.1em;
    background-color: #fde24a;
    color: #5752a7;
    border-radius: 50%;
}