.zero-btn {
    display: grid;
    grid-area: btn-0;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    background-color: #2d2d86;
    color: #b3b3e6;
    border: 2px solid #43437e;
    border-radius: 35px;
    object-fit: fill;
    
}