.app {
  display: flex;
  height: 100%;
}

.calc-wrapper {
  display: flex;
  flex-direction: column;
  width: 414px;
  height:846px;
  background-color: #2d2d86;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #5752a7;
  color: #b3b3e6;
  height: 100px;
  width: 414px;
}

.calculator-display {
  height: 200px;
  width: 414px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: bottom;
  flex-wrap: wrap;
  background-color: #2d2d86;
  color: #b3b3e6;
  font-size: 2.25em;
  border-bottom: 2px solid #b3b3e6;
  padding-right:2px;
  text-decoration: none;
  overflow-wrap: break-word;
}


.keypad {
  display: flex;
  flex-direction: row;
  border: 20px solid  #2d2d86;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #2d2d86;
}

.operatorpad {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  object-fit: fill;

}

.mult-minus-add-btns {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-evenly;
 }

.equalbtn {
  display: flex;
  object-fit: fill;
  height: 40%;
  width: 100%;
  justify-content: bottom;
}

.zero {
  display: flex;
  width:66%;
  object-fit: fill;
}