.app {
  display: flex;
  height: 100%;
}

.calc-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #2d2d86;
}

.header {
  display: flex;
  background-color: #5752a7;
  color: #b3b3e6;
  height: 5em;
  padding: 2em;
}

.calc-display {
  display: flex;
  height: 10em;
  width: 20em;
}

.keyad {
  display: flex;
  flex-direction: row;
  height: 50em;
  padding: 4em;
  border: 2px solid red;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #2d2d86;
}

.operaterpad {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #2d2d86;
}