.app {
  display: grid;
  height: 100vh;
  width: 100%;
  background-color: #2d2d86;
}

.canvas {
  display: grid;
  background-color: green;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "header header header"
  "calc-border-left calc-wrapper calc-border-right"
  "footer footer footer"
}

.calc-border-left {
  display: grid;
  grid-area: calc-border-left;
  /* background-color: red; */
  background-color: #2d2d86;
}

.calc-border-right {
  display: grid;
  grid-area: calc-border-right;
  /* background-color: red; */
  background-color: #2d2d86;
}

.calc-wrapper {
  display: grid;
  flex-direction: row;
  grid-template-rows: 1fr 3fr;
  background-color: #2d2d86;
}

.header {
  display: grid;
  grid-area: header;
  flex-direction: column;
  background-color: #5752a7;
  color: #b3b3e6;
  width: 100%;
}

.calculator-display {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: bottom;
  flex-wrap: wrap;
  background-color: #2d2d86;
  color: #b3b3e6;
  font-size: 2.25em;
  border-bottom: 2px solid #b3b3e6;
  text-decoration: none;
  overflow-wrap: break-word;
}

.keypad {
  display: grid;
  height: 55vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "btn-clear . btn-divide btn-mult"
    "btn-7 btn-8 btn-9 btn-minus"
    "btn-4 btn-5 btn-6 btn-add"
    "btn-1 btn-2 btn-3 btn-equal"
    "btn-0 btn-0 btn-decimal btn-equal";
  gap: 10px;
  align-items: stretch;
  justify-content: stretch;
  align-self: stretch;
  align-content: stretch;
  object-fit: fit;
}

#btn-clear {
  grid-area: btn-clear;
}

#btn-divide {
  grid-area: btn-divide;
}

#btn-mult {
  grid-area: btn-mult;
}

#btn-7 {
  grid-area: btn-7;
}

#btn-8 {
  grid-area: btn-8;
}

#btn-9 {
  grid-area: btn-9;
}

#btn-minus {
  grid-area: btn-minus;
}

#btn-4 {
  grid-area: btn-4;
}

#btn-5 {
  grid-area: btn-5;
}

#btn-6 {
  grid-area: btn-6;
}

#btn-add {
  grid-area: btn-add;
}

#btn-1 {
  grid-area: btn-1;
}

#btn-2 {
  grid-area: btn-2;
}

#btn-3 {
  grid-area: btn-3;
}

.equalbtn {
  grid-area: btn-equal;
  height: auto;
  width: auto;
}

.zero {
  grid-area: btn-0;
  height: auto;
  width: auto;
}

.footer {
  display: grid;
  grid-area: footer;
  background-color: #2d2d86;
  width: 100%
}
